[buildout]
extends = versions.cfg
develop = .
parts = test
versions = versions
extensions = lovely.buildouthttp
show-picked-versions = true

[test]
recipe = zc.recipe.egg:script
entry-points=test=collective.xmltestreport.runner:run
relative-paths=true
eggs = lovely.pyrest [test]
initialization =
 from gevent import monkey
 monkey.patch_all()
 sys.path.append('${buildout:directory}')
 sys.argv.extend(['--auto-color',
                  '--tests-pattern', '^f?tests$',
                  '--test-path', base,])
